// .textarea {
//     border: 0px;
//     outline: 0px;
//     background-color: none;
// }

.matcard{
    width: 250px;
    height: 110px;
    margin-bottom: 50px;
    margin-left: 50px;
    border: 1px solid rgb(223, 210, 210);
    border-radius: 7px;
}

.noteTitle {
    margin-top: none;
    border: none;
    outline: none;
    width: 400px;
    height: auto;
    padding-left: 18px;
    padding-right: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
}
.noteCard {
   align-items: center;
   border: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   float : left;
   padding-left: 3px;
   margin-bottom: 23px;
} 

.content,.textArea{
    border: none;
    margin-bottom: 0px;
    background-color: #fff;
    border-color: #e0e0e0;
    font-size: 17px;
}