<div fxLayout="row" fxLayoutAlign="center center">
    <div>
        <div *ngFor="let note of listNotes;let notetempid = index" class="noteCard">

            <mat-card class="matcard" autocomplete="off" role="combobox" flex="column">
                <app-pin-note [note]="note" (click)="onClickNoteId(note.noteId)"></app-pin-note>
                <div (click)="openPopup(note)">
                    <mat-card-title class="content">
                        <textarea class="textArea" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" placeholder="Title"
                            disabled>{{note.title}}</textarea>
                    </mat-card-title>
                    <mat-card-content class="content">
                        <textarea class="textArea" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" placeholder="Description"
                            disabled>{{note.description}}</textarea>
                    </mat-card-content>
                </div>
                 <div ng-init="expand = true" ng-mouseover="expand = false"> 
                     <div *ngIf="expand"> 
                      <div class="matCardFooter">
                        <mat-card-footer style="opacity: .77;">
                            <app-note-iconlist></app-note-iconlist>
                        </mat-card-footer>
                    </div>
                  </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>