.note {
    width: 1650px;
    height: 8px;
    margin-top: 1%;
}

.noteEditCard {
    width: 600px;
    height: 20px; 
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 30px;
}

.noteFields {
    margin-top: 20px;
    width: 580px;
    height: auto;
    margin-left: 50px;
}

.tittleField {
    margin-top: none;
    border: none;
    outline: none;
    //margin-top: 8px;
    width: 400px;
    height: auto;
    padding-right: 70px;
    height: 25px;
    font-size: 17px;
    color: #202124;
}

.textField {
    margin-top: none;
    border: none;
    outline: none;
    width: 350px;
    height: 25px;
    max-height: 775px;
    padding-left: 18px;
    padding-right: 0px;
    font-size: 14px;
    color: #202124;
}

.pinIcon {
    margin-top: none;
    padding-left: 10px;
    float: right;
}

.matcardHeader {
    margin-bottom: 10px;
}

.submit {
    margin-left: 150px;
    float: right;
}

.remIcon {
    width: 2px;
    height: 2px;
    margin-top: 2px;
    float: left;
}

.bottomButtons {
    float: left;
    margin-bottom: 0%
}

.border {
    background-color: white;
    border-radius: 8px;
    height: 17px;
    width: 600px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20%;
    box-shadow: 1px 1px 1px 1px #cec9c9;
}

.input-tag {
    width: 80%;
    background-color: white;
    border: 0px solid;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    color: gray;
}

.nav-button {
    width: 20px;
}

.mat-icon {
    opacity: 0.89;
}