<div *ngIf="!expand">
    <mat-card class="border">
         <input placeholder="Take a note..." (click)="expandNote()" class="input-tag">
         <div style="padding:0px 0px;">
             <button mat-icon-button matTooltip="New list" class="nav-button">
                <mat-icon style="padding-bottom: 103%;" class="mat-icon">check_box</mat-icon>
             </button>
         </div>
         <div>
            <button mat-icon-button matTooltip="New note with image" class="nav-button">
               <mat-icon style="padding-bottom: 103%;" class="mat-icon">image</mat-icon>
            </button>
         </div>
    </mat-card>
</div>
 
 <form [formGroup]="noteForm">
        <div *ngIf="expand">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-card class="noteFields">
                        <mat-card-header class="Header">
                            <mat-card-title>
                                <div style="margin-left: 550px;">
                                    <a><img src="assets/icons/unpin.svg" *ngIf="!isPinned" (click)="isPinned=!isPinned"></a>
                                    <a><img src="assets/icons/pinned.svg" *ngIf="isPinned" (click)="isPinned=!isPinned"></a>
                                </div>

                                <textarea style="color: #202124;"
                                    class="tittleField" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Title..." formControlName="title"></textarea>
                            </mat-card-title>
                        </mat-card-header>
    
                        <mat-card-content class="matcardHeader">
                            <textarea style="width: 95%;"
                                class="textField" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" placeholder="Take a note..." formControlName="description"></textarea>
                        </mat-card-content>

                        <div>
                            <div class="bottomButtons" style="opacity: .79;">
                                <app-note-iconlist></app-note-iconlist>
                                
                                <button margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Undo">
                                    <i class="material-icons">undo</i>
                                </button>

                                <button margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Redo">
                                    <i class="material-icons">redo</i>
                                </button>

                                <div class="submit" (click)="ngOnclose()">
                                    <button mat-button>Close</button>
                                </div>
                                
                            </div>
                        </div>
                    </mat-card>
                </div>
        </div>
</form>
<div class="popup" fxLayout="column" fxLayoutAlign="space-between center">
    <app-display-note></app-display-note>
</div>