<div>
    <app-create-note></app-create-note>
</div>
<div style="margin-top: 80px;display: flex;">
    <div fxLayout="{{view}}" style="flex-direction: row;box-sizing: border-box;display: flex;margin-left: 7%;margin-right: 7%;">
        <mat-card *ngFor="let note of reminderNotes" style="margin-left: 50px;" 
            [ngStyle]="{ 'background-color':note.colour}">
            <div (click)="openDialog(note)">
                <div>
                    <app-pin-note></app-pin-note>
                    <strong>{{note.title}}</strong>
                </div>

                <div>
                    {{note.description}}
                </div>
                
                <div style="font-size: small;">
                    <mat-chip-list>
                        <mat-chip>
                            {{note.reminder}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                
                <div>
                    <app-note-iconlist [note]="note"></app-note-iconlist>
                </div>
            </div>
        </mat-card>
    </div>
</div>