<button mat-icon-button class="notification" [matMenuTriggerFor]="dateTime" matTooltip="Remind me">
    <mat-icon>add_alert</mat-icon>
</button>
<mat-menu #dateTime="matMenu" [overlapTrigger]="false">
    <div>Reminder:</div>
    <div>
        <button mat-icon-button type="submit">Later today 8:00 PM</button>
    </div>
    <div>
        <button mat-icon-button type="submit">Tomorrrow  8:00 AM</button>
    </div>
    <div>
        <button mat-icon-button type="submit">Next week Mon,8:00 AM</button>
    </div>
    <div style="display: flex;">
        <button mat-icon-button>
            <mat-icon>query_builder</mat-icon>
            <span>Pick date & time</span>
        </button>
    </div>
</mat-menu>

<button mat-icon-button class="notification" matTooltip="Collaborator">
    <mat-icon>person_add</mat-icon>
</button>

<button mat-icon-button class="notification" [matMenuTriggerFor]="colorList" matTooltip="Change color">
    <mat-icon>color_lens</mat-icon>
</button>
<mat-menu #colorList="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent style="padding-top: 12px;padding-bottom: 15px;">
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px;" *ngFor="let rowcolors of colors" fxLayout="row">
            <div  *ngFor="let colour of rowcolors">
                    <button mat-mini-fab [ngStyle]="{'background-color':colour.value}"
                        (click)="updateColour(colour.value)" matTooltip="{{ colour.name }}" class="color-menu"></button>
            </div>
        </div>
    </ng-template>
</mat-menu>

<button mat-icon-button  matTooltip="Add image" class="notification">
    <mat-icon>crop_original</mat-icon>
</button>

<button *ngIf="!note.archived" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Archive" (click)="onClickArchive()">
    <i class="material-icons">archive</i>
</button>
<button *ngIf="note.archived" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Unarchive" (click)="onClickArchive()">
    <i class="material-icons">unarchive</i>
</button>

<button margin="14px" mat-icon-button fxHide.xs="true" [matMenuTriggerFor]="menu"
    matTooltip="More">
    <i class="material-icons">more_vert</i>
</button>
<mat-menu #menu="matMenu" class="menuclass" [overlapTrigger]="true">
    <!-- <mat-list-item><button mat-button (click)="onClickDelete()">Delete note</button></mat-list-item>
    <mat-list-item><button mat-button [matMenuTriggerFor]="labelMenu">Add label</button></mat-list-item> -->
    <button mat-menu-item (click)="onClickDelete()">Delete note</button>
    <button mat-menu-item [matMenuTriggerFor]="labelMenu">add label</button>
</mat-menu>

<mat-menu #labelMenu="matMenu" [overlapTrigger]="true">
    <div>Label Note</div>
    <mat-card style="height: 10px;">
        <input type="text" placeholder="Search label name" class="resizedTextbox">
        <button mat-icon-button style="margin-bottom: 7px;">
            <mat-icon>search</mat-icon>
        </button>
    </mat-card>
    <div *ngFor="let label of listLabels">
        <button mat-menu-item>{{label.labelName}}</button>
        <!-- <mat-list-item><button>{{label.labelName}}</button></mat-list-item> -->
    </div>
</mat-menu>