<button mat-icon-button class="notification" [matMenuTriggerFor]="dateTimeMenu" matTooltip="Remind me">
    <mat-icon>add_alert</mat-icon>
</button>
<mat-menu #dateTimeMenu="matMenu" [overlapTrigger]="false">
    <div style="width: 180px;">
     <div>Reminder:</div>
        <button mat-menu-item type="submit">Later today 8:00 PM</button>
        <button mat-menu-item type="submit">Tomorrrow  8:00 AM</button>
        <button mat-menu-item type="submit">Next week Mon,8:00 AM</button>
        <button mat-menu-item  [matMenuTriggerFor]="menuDateTime">
            <mat-icon>query_builder</mat-icon>
            Pick date & time
        </button>
    </div>
</mat-menu>
<!-- <mat-menu #menuDateTime="matMenu">
    <input placeholder="Date Time:"
               [(ngModel)]="dateTime"
               [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
        <owl-date-time #dt></owl-date-time>
 </mat-menu> -->
    <mat-menu #menuDateTime="matMenu" class="example-trigger">
      <div fxLayout="row wrap">
        <div>
          <mat-icon style=" zoom: 0.8;">keyboard_backspace</mat-icon>
        </div>
        <div>
          Pick date & time
        </div>
      </div>
      <mat-divider></mat-divider>
      <div style="display: inline-block;">
        <mat-form-field>
            <label>
          <input matInput [(ngModel)]="dateTime" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
            placeholder="Select date">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </label>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
        <label>
          <input matInput placeholder="select time" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
          <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
        </label>
        </mat-form-field>
      </div>
    </mat-menu>



<button mat-icon-button class="notification" matTooltip="Collaborator">
    <mat-icon>person_add</mat-icon>
</button>

<button mat-icon-button class="notification" [matMenuTriggerFor]="colorList" matTooltip="Change color">
    <mat-icon>color_lens</mat-icon>
</button>
<mat-menu #colorList="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent style="padding-top: 12px;padding-bottom: 15px;">
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px;" *ngFor="let rowcolors of colors" fxLayout="row">
            <div  *ngFor="let colour of rowcolors">
                    <button mat-mini-fab [ngStyle]="{'background-color':colour.value}"
                        (click)="updateColour(colour.value)" matTooltip="{{ colour.name }}" class="color-menu"></button>
            </div>
        </div>
    </ng-template>
</mat-menu>

<button mat-icon-button  matTooltip="Add image" class="notification">
    <mat-icon>crop_original</mat-icon>
</button>

<button *ngIf="!note.archived" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Archive" (click)="onClickArchive()">
    <i class="material-icons">archive</i>
</button>
<button *ngIf="note.archived" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Unarchive" (click)="onClickArchive()">
    <i class="material-icons">unarchive</i>
</button>

<button margin="14px" mat-icon-button fxHide.xs="true" [matMenuTriggerFor]="menu"
    matTooltip="More">
    <i class="material-icons">more_vert</i>
</button>
<mat-menu #menu="matMenu" class="menuclass">
    <button mat-menu-item (click)="onClickDelete()">Delete note</button>
    <button mat-menu-item [matMenuTriggerFor]="labelMenu">Add label</button>
</mat-menu>

<mat-menu #labelMenu="matMenu" overlapTrigger="true" xPosition="after">
    <div>Label Note</div>
    <mat-card style="height: 10px;">
        <input type="text" placeholder="Search label name" class="resizedTextbox">
        <button mat-icon-button >
            <mat-icon>search</mat-icon>
        </button>
    </mat-card>
    <div *ngFor="let label of listLabels">
        <!-- <button mat-menu-item>{{label.labelName}}</button> -->
        <!-- <mat-list-item><button>{{label.labelName}}</button></mat-list-item> -->
        <!-- <mat-button-toggle-group multiple>
            <mat-button-toggle mat-flat-button>{{label.labelName}}</mat-button-toggle>
        </mat-button-toggle-group> -->
        <input type="checkbox" (click)="onClickAddLabel(label.labelId, note.noteId)">
            {{label.labelName}}
    </div>
</mat-menu>