<div fxLayout="row" fxLayout="{{view}}" fxLayoutAlign="center center" style="flex-direction: row;box-sizing: border-box;margin-right: 7%;" class="archive">
    <div *ngFor="let note of archiveNotes">
        <mat-card style="margin-left: 50px;margin-top: 30px;" [ngStyle]="{ 'background-color':note.colour}">
            <div>
                <app-pin-note></app-pin-note>
                <strong>{{note.title}}</strong>
            </div>
    
            <div>
                {{note.description}}
            </div>
    
            <div *ngIf="note.reminder!=null">
                {{note.reminder}}
            </div>
    
            <div>
                <app-note-iconlist [note]="note"></app-note-iconlist>
            </div>
        </mat-card>
    </div>
</div>