<div style="font-style: italic;font-size: 30px;margin-left: 320px;">Notes in trash</div>
<div fxLayout="{{view}}" style="flex-direction: row;box-sizing: border-box;display: flex;margin-left: 7%;margin-right: 7%;">
    <mat-card *ngFor="let note of trashNotes" [ngStyle]="{ 'background-color':note.colour}">
        <div style="font-size: 19px;">
            <strong>{{note.title}}</strong>
        </div>

        <div style="font-size: 20px;margin-top: 10px;">
            {{note.description}}
        </div>

        <div style="margin-top: 20px;">
            <button mat-icon-button matTooltip="Delete forever" (click)="onClickDeleteForever(note.noteId)">
                <mat-icon>delete_forever</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Restore" (click)="onClickRestore(note.noteId)">
                <mat-icon>restore_from_trash</mat-icon>
            </button>
        </div>
    </mat-card>
</div>