.forgotPassword {
    margin: 120px 37% 0 37%;
}

.mat-card-actions {
    margin-left: 30%;
    margin-bottom: 20px;
}

.acc-recovery{
    padding-bottom: 10px;
}
.mat-card-title {
    display: block;
    margin-bottom: 18px;
}