<div class="forgotPassword">
    <mat-card fxLayout="column" fxLayoutAlign="space-between center">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && onSubmit()">
            <mat-card-title style="text-align: center;">Fundoo</mat-card-title>
            <span class="acc-recovery"><mat-card-title>Account Recovery</mat-card-title></span>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" formControlName="email"
                        [(ngModel)]="user.email" required>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email required
                    </mat-error>
                </mat-form-field>
                {{errorMessage}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" disableRipple>Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>