.container {
    border-bottom: 1px solid lightgray;
    width: 100%;
}

mat-card {
    margin-left: 200px;
    height: 10px;
    width: 700px;
}

.title {
    margin-left: 70px;
    font-size: 25px;
    color: gray
}