<mat-toolbar class="container" fullscreen style="background-color: transparent;">
    <mat-toolbar-row>
        <button mat-icon-button (click)="onToggle(opened)">
            <mat-icon matTooltip="Main menu">menu</mat-icon>
        </button>
        <span class="title">Fundoo</span>
        <div>
            <mat-card>
                <div>
                    <mat-icon>search</mat-icon>
                </div>
                <div>
                    <input type="text" placeholder="Search" 
                        style="height: 40px;width: 600px;margin-left: 25px;">
                </div>
            </mat-card>
        </div>
    </mat-toolbar-row>
</mat-toolbar>