<div class="passwordUpdate">
    <mat-card fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="passwordUpdateForm" (ngSubmit)="onSubmit()">
            <mat-card-title>Fundoo</mat-card-title>
            <mat-card-title style="margin-bottom: 30px;">Password Update</mat-card-title>
            <mat-card-content>
                <div>
                    <mat-form-field appearance="outline" style="margin-bottom: 15px;">
                        <mat-label>New Password</mat-label>
                        <input [type]="hide ? 'password' : 'text'"
                            matInput formControlName="newPassword" required>
                        <mat-icon (click)="hide = !hide" matSuffix>
                            {{hide ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error *ngIf="passwordUpdateForm.get('newPassword').hasError('required')">
                            Password required
                        </mat-error>
                        <mat-error *ngIf="passwordUpdateForm.get('newPassword').hasError('minlength')">
                            Password field should have a minimum of 4 characters
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm New Password</mat-label>
                        <input [type]="hide ? 'password' : 'text'"
                            matInput formControlName="confirmPassword" required>
                        <mat-icon (click)="hide = !hide" matSuffix>
                            {{hide ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error *ngIf="passwordUpdateForm.get('confirmPassword').hasError('required')">
                            Confirm password required
                        </mat-error>
                        <mat-error *ngIf="!passwordUpdateForm.get('confirmPassword').errors.required
                                              &&
                                           passwordUpdateForm.get('confirmPassword').errors">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" disableRipple>Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
